<!-- Tala om att det är html-dokument -->
<!DOCTYPE html>

<!-- Alla element ska finnas inom html-taggen -->
<html>
<!-- I head placeras saker som inte är innehåll, tex css-filer och javascript -->
<head>
    <!-- Dessa 3 meta-taggar måste vara först i head för att alla tecken (åäö) och Bootstrap ska fungera korrekt -->
    <link rel="icon" type="image/png" href="bilder/logga.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Koppla in Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Koppla in egen CSS-fil style.css OBS! Ha den som sista css-fil -->
    <link rel="stylesheet" type ="text/css" href="css/style.css">

    <!-- Koppla in och JQuery Bootstrap javascript -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

    <script type="text/javascript" src="js/funktion.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!-- I title skriver du titeln som webbläsarfönstret ska ha när den här sidan besöks-->
</head>
<body class="parallax" id="komentarssida" ng-app="app">
    <div ng-controller="KommentarCtrl">

        <form ng-submit="addComment()">
      
<div class="form-group">
              <br><br>  <input placeholder="Ditt namn" type="text" class="form-control" ng-model="kommentar.skribent">
            </div>
            <div class="form-group">
                <input placeholder="Din kommentar" type="text" class="form-control" ng-model="kommentar.text">
            </div>
            <a href="index.html"><button type="button" class="btn btn-primary">Gå tillbaka</button></a> <button type="submit" class="btn btn-primary">Kommentera</button>

        <div class="komkomentarer" ng-repeat="kommentar in kommentarer">
            <p><b>{{ kommentar.skribent }}</b> {{ kommentar.text }}</p>
        </div>

        </form>
    </div>
       
  </div>

</body>
</html>